<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <form #fc="ngForm" (ngSubmit)="onsubmit(fc)">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome de Usuário</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nickname" name="nickname" required></ion-input>
    </ion-item>

    <div *ngIf="!id">
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="usuario.email" name="email" required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #e="ngModel"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="e.invalid && e.dirty" class="ion-padding">
        E-mail invalido!
      </ion-text>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.pws" name="pws" required minlength="6" #pws="ngModel">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="pws.invalid && pws.dirty" class="ion-padding">
        Senha muito curta.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input type="password" (ngModel)="conf" name="conf" required #conf="ngModel"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="(pws.value != conf.value) && pws.dirty" class="ion-padding">
        Senhas diferentes.
      </ion-text>

        <br>
        <ion-button type="submit" color="primary" expand="block" slot="end" [disabled]="fc.invalid || (pws.value != conf.value)">Salvar</ion-button>
        <ion-button type="reset" slot="start" expand="block" color="danger">Cancelar</ion-button>
    </div>

    <ion-item lines="none" *ngIf="id">
      <ion-button type="submit" color="primary" [disabled]="fc.invalid">Atualizar</ion-button>
      <ion-button type="reset" color="danger">Cancelar</ion-button>
    </ion-item>
  </form>
    <ion-content>
      <div class="map" id="map_canvas"></div>
    </ion-content>
    
  </ion-content>
