<ion-header>
  <ion-toolbar>
      <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>Seu Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item lines="none">
  <img src="{{usuario.foto}}">
</ion-item>
<ion-content>
  <ion-item>
    <ion-label>nome: {{usuario.nome}}</ion-label>
    <p></p>
  </ion-item>
  <ion-item>
    <ion-label>nick: {{usuario.nickname}}</ion-label>
    <p></p>
  </ion-item>
  <ion-item>
    <ion-label> email: {{usuario.email}}</ion-label>
    <p></p>
  </ion-item>
</ion-content>