<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="lanche">
    <ion-item-sliding *ngFor="let l of lanche">
      <ion-item-options side="start">
        <ion-item-option color="" (click)="editar(l)">
          <ion-icon slot="icon-only" name="create"></ion-icon>Atualizar
        </ion-item-option>
      </ion-item-options>

      <ion-item routerLink="/tabs/perfilLanche/{{l.key}}">
        <ion-avatar slot="start">
          <img src="assets/blnkpic.png" *ngIf="!l.fotos">
          <img [src]="l.fotos[0]" *ngIf="l.fotos">
        </ion-avatar>
        <ion-label>{{ l.nome }}</ion-label>
        <ion-text>R${{ l.valor }},00</ion-text>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="apagar(l)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-content>
