<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="Enos">
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>G.E.N</ion-card-subtitle>
        <ion-card-title>Welcome to Buxin Chei</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Esse aplicativo foi criado para satisfazer a sua vontade de ter coomida boa e barata</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none" *ngIf="lanches">
      <ion-list-header>
        <ion-label>Pratos Favoritos</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let l of lanches">
          <ion-avatar>
              <img src="{{p.foto}}">
            </ion-avatar>  
        <ion-text>{{l.nome}}</ion-text>
        <ion-label>{{l.valor}}</ion-label>
  
  

<!--   <ion-list lines="none">

      <ion-list-header>

        <ion-label>Pratos favoritos</ion-label>

      </ion-list-header>

      <ion-list *ngIf="usuarios">
        
        <ion-item>

        </ion-item>
    </ion-list> -->