<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="Enos">
    <ion-card class="welcome-card" style="text-align:center">
      <img class="welcome-img" src="/assets/comida-home.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle style="color: aliceblue;"></ion-card-subtitle>
        <ion-card-title style="color: yellow">Bem vindo(a) ao <br/>Buxin Chei!</ion-card-title>
      </ion-card-header>
      <ion-card-content style="color: aliceblue;">
        <p>Cadastre-se e faça seu pedido!</p>
      </ion-card-content>
    </ion-card>
    <ion-item lines="none" style="text-align:center">
      <ion-card>
        <ion-card-title>
          Top Pedidos
        </ion-card-title>
        <ion-list>
          
        </ion-list>
      </ion-card>
    </ion-item> 
</ion-content>
