<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adicionar lanche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <img src="assets/blnkpic.png" alt="" (click)="tirarFoto()" *ngIf="!preview">
    <img [src]="preview" alt="" (click)="tirarFoto()" *ngIf="preview">
  </ion-item>

  <form #fc="ngForm" (ngSubmit)="onsubmit(fc)">

    <ion-item>
      <ion-label position="floating">Nome do lanche</ion-label>
      <ion-input type="text" [(ngModel)]=lanche.nome name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Preço</ion-label>
      <ion-input type="text" [(ngModel)]=lanche.valor name="valor" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" [(ngModel)]=lanche.descricao name="descricao" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-input type="text" [(ngModel)]=lanche.categoria name="categoria" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" [(ngModel)]=lanche.quant name="quant" required></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="!id">
      <ion-button type="submit" color="primary" [disabled]="fc.invalid">Salvar</ion-button>
      <ion-button type="reset" color="danger" routerLink="/">Cancelar</ion-button>
    </ion-item>

  </form>

  <ion-content>
    <div class="map" id="map_canvas"></div>
  </ion-content>

</ion-content>