<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>sobre nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <img src="">
    </ion-slide>
    <ion-slide>
      <img src="">
    </ion-slide>
    <ion-slide>
      <img src="">
    </ion-slide>
  </ion-slides>
  <ion-label>Nós da Buxin Chei, antes conhecida como "G.E.N" estamos prontos para esvaziar sua carteira e encher seu buxin</ion-label>

  <!-- Natan -->
  <ion-slides>
    <ion-slide>
      <img src="">
    </ion-slide>
    <ion-slide>
      <img src="">
    </ion-slide>
  </ion-slides>
  <ion-label>Natan ele está sempre pronto para levar sua comida em qualquer lugar do pais (obs: Era pra ele ta programando)</ion-label>

  <!-- Bruno -->
  <ion-slides>
    <ion-slide>
      <img src="">
    </ion-slide>
    <ion-slide>
      <img src="">
    </ion-slide>
  </ion-slides>
  <ion-label>Bruno ele é o cara que é brabo ou seja ele provavelmente está fazendo algo importante em algum lugar</ion-label>

  <!-- enos -->
  <ion-slides>
    <ion-slide>
      <img src="">
    </ion-slide>
    <ion-slide>
      <img src="">
    </ion-slide>
  </ion-slides>
  <ion-label>Enos está sempre pronto para programar e fazer piadas enquanto cai na benção com alguem</ion-label>

  <!-- gabriel -->
  <ion-slides>
    <ion-slide>
      <img src="">
    </ion-slide>
    <ion-slide>
      <img src="">
    </ion-slide>
  </ion-slides>
  <ion-label>Gabriel é doce como limão, gentil feito velho mineiro e carinhoso igual PM às 4AM com gatin na mente</ion-label>
</ion-content>